/* p {
    color: blueviolet;
    size: 30px;
    border: 1px solid aqua; 
}*/


p, li {

    color: #002857;
    font-size: 17px;
    line-height: 2;
    letter-spacing: 1px;
}

h2 {

    color: deepskyblue;
}

h3 {

    font-family: "Rubik Glitch Pop", system-ui;
    font-weight: 800;
    font-style: normal;
}

h1{
    font-size: 65px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: black;
    text-shadow: 3px 3px 1px hwb(0 44% 55%);
}

#quote {
    font-style: italic;
}

.para {

    font-size: 25 px;
    color: crimson;
    font-family: Arial, Helvetica, Times;
    font-weight: bold;
}

/* basic selectors = p {} dupa elementul html; #heading {} dupa id; 
.para {} dupa clasa; p,h1 {} mai multe elemente html; * {} toate elementele html */

body {

    margin: 50px auto; /*allows negative numbers, toate au aceeasi valoare sau TOP - RIGHT - BOTTOM - LEFT sau TOP & BOTTOM - LEFT & RIGHT sau TOP - LEFT & RIGHT - BOTTOM*/
    padding: 0px 20px 20px 20px; /* does not allow negative values & does not use auto */
    width: 600px;
    border: 4px double navy;  /* width, style of border, color of border */
    background-color: #f2d3ad;

}

html {

    background-color: coral;
}

img {
    display: block;
    margin: 0 auto;  /* centering the image */
    width: 45%;
}